Repository yoko-Developer/todo-api, pull requests merged in 2024-09, with the labels that each got.

#10 Controller実装
  src/main/java/com/example/todo_api/Controller/sample/SampleController.java
Labels: controller

#12 DTOを作成しリファクタリングする
  build.gradle
  src/main/java/com/example/todo_api/Controller/sample/SampleController.java
  src/main/java/com/example/todo_api/Controller/sample/SampleDTO.java
Labels: DTO

#14 ServiceとEntityの実装
  src/main/java/com/example/todo_api/Controller/sample/SampleController.java
  src/main/java/com/example/todo_api/service/sample/SamleEntity.java
  src/main/java/com/example/todo_api/service/sample/SampleService.java
Labels: service

#16 DIを使用してリファクタリング
  src/main/java/com/example/todo_api/Controller/sample/SampleController.java
  src/main/java/com/example/todo_api/service/sample/SampleService.java
Labels: dependency

#18 repositoryとrecordを作成
  src/main/java/com/example/todo_api/repositoy/sample/SampleRecord.java
  src/main/java/com/example/todo_api/repositoy/sample/SampleRepository.java
  src/main/java/com/example/todo_api/service/sample/SampleService.java
Labels: repository

#22 Feature 21/schema definition:api-schema.ymlの実装
  src/main/resources/api-schema.yml
Labels: schema

#24 Feature 23/task controller
  src/main/java/com/example/todo_api/Controller/task/TaskController.java
  src/main/resources/api-schema.yml
Labels: schema, controller
